{#
/**
 * @file
 * Default theme implementation for rendering corporate blocks footer.
 *
 * Available variables:
 * - site_specific_footer: Array (optional) with structure of the site specific footer compatible with the ECL ec-components-footer component.
 *   - site_identity: Site identity for custom footer.
 *   - social_links: Social media links for custom footer.
 *   - other_links: Other links for custom footer.
 * - corporate_footer: Array with structure of corporate footer compatible with the ECL ec-components-footer component.
 *   - about_ec: Data about EC for corporate footer.
 *   - social_media: Social media links for corporate footer.
 *   - about_eu: Data about EU for corporate footer.
 *   - bottom_links: Other links for corporate footer.
 *
 * @ingroup themeable
 */
#}

{%  if site_specific_footer is not empty %}
  <div class="ecl-footer__custom">
    {%  if site_specific_footer.site_identity is not empty %}
      <h2 class="footer__custom-title-identity">{{ site_specific_footer.site_identity }}</h2>
    {% endif %}
    {%  if site_specific_footer.social_links is not empty %}
      <p class="footer__custom-label">{{ 'Follow us:'|t }}</p>
      <ul class="footer__list">
        {% for social_link in site_specific_footer.social_links %}
          <li class="footer__list-item">
            {{ link(social_link.label, social_link.href, create_attribute({'class': ['menu_item.social_network']})) }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {%  if site_specific_footer.other_links is not empty %}
      <ul class="footer__list">
        {% for menu_item in site_specific_footer.other_links %}
          <li class="footer__list-item">
            {{ link(menu_item.label, menu_item.href) }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endif %}
<div class="ecl-footer__corporate">
  <div class="footer__corporate-top">
  {% if corporate_footer.about_ec.items is defined and corporate_footer.about_ec.items is not empty %}
    <h2 class="footer__column-title">{{ corporate_footer.about_ec.title }}</h2>
    <ul class="footer__list">
      {% for menu_item in corporate_footer.about_ec.items %}
        <li class="footer__list-item">
          {{ link(menu_item.label, menu_item.href) }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if corporate_footer.social_media.items is defined and corporate_footer.social_media.items is not empty %}
    <h2 class="footer__column-title">{{ corporate_footer.social_media.title }}</h2>
    <ul class="footer__list">
      {% for menu_item in corporate_footer.social_media.items %}
        <li class="footer__list-item">
          {{ link(menu_item.link.label, menu_item.link.href) }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if corporate_footer.about_eu.items is defined and corporate_footer.about_eu.items is not empty %}
    <h2 class="footer__column-title">{{ corporate_footer.about_eu.title }}</h2>
    <ul class="footer__list">
      {% for menu_item in corporate_footer.about_eu.items %}
        <li>
          {{ link(menu_item.label, menu_item.href) }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
  <div class="footer__corporate-bottom">
  {% if corporate_footer.bottom_links is defined and corporate_footer.bottom_links is not empty %}
    <ul class="footer__list">
      {% for menu_item in corporate_footer.bottom_links %}
        <li class="footer__list-item">
          {{ link(menu_item.label, menu_item.href) }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
</div>
